/* Style the header */
h1{
	font-weight: bold;
	text-align: center;
	color: blue;
}
/* Style the page */
#intro{
	background-color: #DCDCDC;
	background-image: url("images/movie.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* Style the anchor (a) */
a {
	text-decoration: none;
}
/* Style the pseudo-classes: link, visited, active, hover */
a:link{
	color: green;
}
a:visited{
	color: red;
}
a:hover{
	background-color: cyan;
}
a:active{
	color: blue;
}
/* Use a pseudo-element */
p::first-letter{
	color: purple;
	font-family: Verdana, Arial, sans-serif;
}

/* Use inline-block */
.dog{
	display: inline-block;
	background-color: cyan;
}

/* Styles for the image gallery */
.gallery{
	margin: 2rem;
	border: 0.1em solid gray;
	float: left;
}

/* Gallery description, try to use relative units */
.desc{
	padding: 0.5em;
	text-align: center;
}

/* Change the opacity of the image when the mouse hovers */
.gallery img{
	opacity: 0.1;
}
.gallery:hover img{
	opacity: 1;
}

/* CSS validation - icon location OR describe any issues */
p:first-of-type{
	float: right;
}